@import "tailwindcss";


.painel-wrapper {
  --background: #09164b;
  
  @theme inline {
    --color-background: var(--background);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  }
  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
  
  @media (prefers-color-scheme: dark) {
    .painel-wrapper {
      --background: #09164b;
    }
  }
}
